<footer class="footer">
  <div class="footer__top">
    <div class="wrap__small">
      <div class="menu__footer">
        <div class="menu__footer-list">
          <div class="menu__title">Products &amp; Services</div>
          <ul>
            <li><a href="https://www.captainpanel.com/services/">Services</a></li>
            <li><a href="https://www.captainpanel.com/how-it-works/">How It Works</a></li>
            <li><a href="https://www.captainpanel.com/pricing/">Pricing</a></li>
          </ul>
        </div>
        <div class="menu__footer-list">
          <div class="menu__title">Business Type</div>
          <ul>
            <li><a href="https://www.captainpanel.com/business/fishing-charters/">Fishing Charters</a></li>
            <li><a href="https://www.captainpanel.com/business/sailing-charters-and-boat-rentals/">Sailing Charters<br> &amp; Boat Rentals</a></li>
            <li><a href="https://www.captainpanel.com/business/diving-centers/">Diving Centers</a></li>
            <li><a href="https://www.captainpanel.com/business/water-sports/">Water Sports</a></li>
          </ul>
        </div>
        <div class="menu__footer-list">
          <div class="menu__title">Company</div>
          <ul>
            <li><a href="https://www.captainpanel.com/company/about-us/">About</a></li>
            <li><a target="_blank" href="https://www.captainpanel.com/blog/">Blog</a></li>
            <li><a href="/partners-program/">Partners program</a></li>
          </ul>
        </div>
        <div class="menu__footer-list">
          <div class="menu__title">Follow Us</div>
          <ul>
            <li><a target="_blank" href="https://www.linkedin.com/company/27200862/"><img src="https://www.captainpanel.com/cp-assets/images/svg/Linkedin.svg"></a></li>
            <li><a target="_blank" href="https://twitter.com/CaptainPanel_"><img src="https://www.captainpanel.com/cp-assets/images/svg/Twitter.svg"></a></li>
            <li><a target="_blank" href="https://www.facebook.com/captainpanel"><img src="https://www.captainpanel.com/cp-assets/images/svg/Facebook.svg"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="wrap__small">
      <div class="menu__privacy">
        <ul>
          <li><a href="/privacy/">Privacy Policy</a></li>
          <li><a href="/terms/">Terms &amp; Conditions</a></li>
          <li><a href="/contact/">Contact Us</a></li>
        </ul>
        <div class="lang">
          <div class="lang__button">
            <p>English</p>
            <!--?xml version="1.0" encoding="UTF-8"?-->
            <svg class="lang__arrow" width="12px" height="8px" viewBox="0 0 12 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1"
                stroke="none"
                stroke-width="1"
                fill="none"
                fill-rule="evenodd"
                stroke-linecap="round"
                stroke-linejoin="round">

                <g id="Language-Switcher"
                  class="Language-Switcher"
                  transform="translate(-554.000000, -713.000000)"
                  stroke="#298AE2"
                  stroke-width="2">
                    <polyline id="arrow" transform="translate(560.000000, 717.000000) scale(1, -1) rotate(-270.000000) translate(-560.000000, -717.000000) " points="557 712 563 717.139753 557 722"></polyline>
                  </g>
                </g>
            </svg>

            <ul class="dropdown-lang">
              <li>
                <a data-uri="/" class="lang__link checked" href="javascript:void(0);">English</a>
              </li>
              <li>
                <a data-uri="/es/" class="lang__link " href="javascript:void(0);">Español</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="copyright">Copyright CaptainPanel Inc. All Rights Reserved</div>
      </div>
    </div>
  </div>
</footer>

<footer class="footer" style="display:none;">
  <div class="footer-inner">
    {{#link 'help_center'}}{{help_center.name}}{{/link}}

    <div class="footer-language-selector">
      {{#if alternative_locales}}
        <div class="dropdown language-selector" aria-haspopup="true">
          <a class="dropdown-toggle">
            {{current_locale.name}}
          </a>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
              <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          </span>
        </div>
      {{/if}}
    </div>
  </div>
</footer>
